.card-form {
	text-align: center;
	font-size: 20px;
	width: 100%;
}

.card-form h1 {
	margin: 30px 0 50px 0;
}

.card-form input {
	width: 100%;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	box-shadow: 0 -30px 50px white inset;
}

.card-form input:focus {
	background-color: #f9f375;
	box-shadow: none;
}

.card-form form ::placeholder {
	background-image: none;
	text-indent: 0px;
}

.card-form select {
	height: 41px;
	width: 100%;
	margin-top: 1px;
}

.card-form select:focus {
	background-color: #f9f375;
}

.card-form .checkbox input {
	box-shadow: none;
}

.card-form .FileUpload {
	height: 250px;
}

.card-form .FileUpload h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.card-form .FileUpload span {
	font-size:14px;
}

.card-form .description-2 p:first-child {
	padding-top: 20px;
}

.card-form .description-2 p:not(:first-child) {
	font-size: 12px;
}

.card-form .upload-description .description-1 p {
	margin: 0px;
}

.card-form .upload-description .description-2 p {
	margin: 0px;
}

.card-form .image-preview {
	position: relative;
	bottom: 198px;
	left: 120px;
}

.card-form img {
	width: 100px;
	margin-top: 5px;
}

.card-form .submit {
	color: white;
	background-color: #006CD5;
	border: 1px solid #0456a3;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #0456a3;
}

.card-form .submit:hover {
	background-color: #0363b7;
}

.modal-dialog {
	width: 95%;
	margin-top: 100px;
}

.errors p {
	color: red;
	margin: 0px;
}

@media (min-width:768px) {
	.modal-dialog {
		width: 80%;
	}
}

@media (min-width:992px) {
	.modal-dialog {
		width: 95%;
	}

	.card-form {
		padding: 0 30px 0 20px;
	}
}

@media (min-width:1200px) {
	.modal-dialog {
		width: 85%;
	}

	.card-form {
		padding: 0 30px 0 20px;
	}
}

@media (min-width:1500px) {
	.modal-dialog {
		width: 65%;
	}

	.card-form {
		padding: 0 30px 0 20px;
	}
}

@media (min-width:1920px) {
	.modal-dialog {
		width: 55%;
	}

	.card-form {
		padding: 0 30px 0 20px;
	}
}

@media (min-width:1920px) {
	.modal-dialog {
		width: 45%;
	}

	.card-form {
		padding: 0 30px 0 20px;
	}
}