.user-cards {
	text-align: center;
}

.card { 
	border: 1px solid black;
	margin: 5px;
}

.card.landscape {
	padding: 31px 0 31px 0;
}

.card.portrait img {
	width: 150px;
	height: 208px;
}

.card.landscape img {
	height: 150px;
	width: 208px;
}

.card.card.portrait .card-value {
	margin-top: 10px;
}

.card.card.landscape .card-value {
	margin-top: 7px;
}