body {
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	background-color: #EEEEEE;
}

#main {
	margin-top: 150px;
}

.modal-content {
	margin-top: 150px;
}

.pageNotFound {
	padding: 0 30px 0 30px;
}